{% extends "base.html" %} {% block title %}Vinhoteca{% endblock %} {% block content
  %}
  <h1 align="center">Meus Vinhos</h1>
  <ul class="list-group list-group-flush" id="vinhos">
    {% for vinho in user.vinhos %}
    <li class="list-group-item">
      {{ vinho.nome }} </br>
      {{ vinho.safra }}
      <button type="button" class="close" onClick="deleteVinho({{ vinho.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <div align="center">
      <label for="nome">Nome: </label>
      <input type="text" name="nome" id="nome"> </input>
      <br />
      <label for="nome">Safra: </label>
      <input type="number" name="safra" id="safra"> </input>
      <br />
    </div>
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
  {% endblock %}
  