{% extends "base.html" %} {% block title %}Cadastro{% endblock %} {% block content
    %}
    <!--<h1 align="center" style="margin-top: 20px; margin-bottom: 20px;">Cadastrar Novo Vinho</h1>
    <form method="POST">
      <div align="center"  >
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome"> </input>
        <br />
        <label for="safra">Safra: </label>
        <input type="number" name="safra" id="safra"> </input>
        <br />
        <label for="tempodeguarda">Tempo de Guarda: </label>
        <input type="number" name="tempodeguarda" id="tempodeguarda"> </input>
        <br />
        <label for="harmonizacao">Harmonização: </label>
        <input type="text" name="harmonizacao" id="harmonizacao"> </input>
        <br />

    </div>
    <div align="center" style="margin-bottom: 20px;">
        <button type="submit" name="register" class="btn btn-primary">Cadastrar</button>
    </div>
    </form>-->
    
    <div class="card mx-auto" style="max-width: 600px; margin-bottom: 20px; margin-top: 20px;">
        <h5 class="card-header text-center">Cadastrar Novo Vinho</h5>
        <div class="card-body">
          <form method="POST">
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" class="form-control" name="nome" id="nome"> </input>
            </div>
            <div class="form-group">
              <label for="safra">Safra:</label>
              <input type="number" class="form-control" name="safra" id="safra"> </input>
            </div>
            <div class="form-group">
              <label for="uva">Uva:</label>
              <input type="text" class="form-control" name="uva" id="uva"> </input>
            </div>
            <div class="form-group">
              <label for="tempodeguarda">Tempo de Guarda:</label>
              <input type="number" class="form-control" name="tempodeguarda" id="tempodeguarda"> </input>
            </div>
            <div class="form-group">
              <label for="harmonizacao">Harmonização:</label>
              <input type="text" class="form-control" name="harmonizacao" id="harmonizacao"> </input>
            </div>            
            <div class="text-center">
                <button type="submit" name="register" class="btn btn-primary">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
      
  
    <div class="row">
        {% for vinho in vinhos %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h5 class="card-title">{{ vinho.nome }}</h5>
                <p class="card-text">Safra: {{ vinho.safra }}</p>
                <p class="card-text">Uva: {{ vinho.uva }}</p>
                <p class="card-text">Tempo de Guarda: {{ vinho.tempodeguarda }}</p>
                <p class="card-text">Harmonização: {{ vinho.harmonizacao }}</p>
                <a href="{{url_for('views.add_wine', vinho_id=vinho.id)}}" class="btn btn-dark">Adicionar a Minha Adega</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
    
    {% endblock %}
    